.categories {
  margin-bottom: 2em;

  &__tree {

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {

        ul {
          margin-left: 20px;
        }

        a {
          display: block;
          padding: 3px 2px;
        }
      }
    }
  }

  .has-subcategories {

    & > div {
      padding-left: 20px;
    }
  }
}