.category {

  &__description {
    margin-bottom: 2rem;
  }


}

.subCategories {
  margin-bottom: 2rem;

  &__item {
    display: table;
    border: 2px solid black;
    width: 100%;

    a {
      display: table-cell;
      vertical-align: middle;
      height: 50px;
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}